*.userprefs
*.suo
*.user
*.pdb
*.pidb
*.exe
*.pdb
*.dll
*.manifest
.cache

/packages
!.nuget/nuget.exe

/Authentication/bin
/Authentication/obj
/Command/bin
/Command/obj
/ConsoleServer/bin
/ConsoleServer/obj
/Plugin/bin
/Plugin/obj
/Storage/bin
/Storage/obj
/Utility/bin
/Utility/obj
/Veda/bin
/Veda/obj